.image-item {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.image-container{
    width: 400px;
    height: 300px;
}
.image-set-padding{
    margin-top: 22px;
}
.align-text {
    text-align: center;
}

.titles-font {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    color: #2e3a2b;
}
.titles-size{
    /*margin-left: 15px;*/
    margin-top: 10px;
    /*margin-bottom: 5px;*/
    /*animation: zoomInOut 2s ease-in-out infinite;*/
}

.logo-position {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-section{
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    display: block;
    width: 100%;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*smartphones <768px*/
@media(max-width:768px) {
    .image-container{
        width: 100%;
        height: 100%;
    }
/*    .titles-size{
        animation: zoomInOut 2s ease-in-out infinite;
    }*/
    @keyframes zoomInOut {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

} 

/*tablets >=768px*/
@media(min-width:768px){
     .image-container{
        width: 100%;
        height: 100%;
    }
/*    .titles-size{
        animation: zoomInOut 2s ease-in-out infinite;
        margin-left: 45px;
    }*/
    @keyframes zoomInOut {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
}

/*desktops >=992px*/
@media(min-width:992px){
    .image-container{
        width: 400px;
        height: 300px;
    }
    .align-text{
        text-align: center;
    }
/*    .titles-size{
        animation: zoomInOut 2s ease-in-out infinite;
    }*/
    @keyframes zoomInOut {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}

.gallery-header {
    position: relative;
    text-align: center;
    margin: 2rem 0;
}

.gallery-title {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: #2e3a2b;
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    z-index: 2;
}

.divider-line {
    width: 200px; /* ajusta largura da linha */
    height: 2px; /* altura da linha */
    background: url('line.png') /* URL da imagem da linha */
    center/ no-repeat;
    margin: -1rem auto 0; /* sobe a linha até ficar logo abaixo do título */
    position: relative;
    z-index: 1;
}

.divider-ornament {
    width: 190px; /* largura do brasão */
    height: 35px; /* altura do brasão */
    /*background: url('./assets/images/brasao.PNG') center/contain no-repeat;*/
    position: absolute;
    top: 55px;
    left: 50%;
    /*top: calc(50% + 0.5rem);*/ /* posiciona sobre a linha, centralizado */
    transform: translateX(-50%);
    z-index: 3;
}