.image-item{
    width: 150px;
    height: 150px;
}

.booking-text{
    /* font-family: 'Montserrat', sans-serif; */
    color: black;
    /* line-height: 2; */
}

.bookings-wrapper {
  max-width: 500px;           
  margin: 4px auto 0 auto;  
  padding-top: 2px;
  border-top: 2px solid black;
  text-align: center;
}

.bookings {
  margin-top: 2px;
  font-size: 24px;
  font-weight: bold;
}

.booking-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.booking-link {
  display: inline-block;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: transform 0.2s, background-color 0.3s;
   font-weight: 550;
  letter-spacing: 2px;
}

.booking-link:hover {
  transform: scale(1.05);
  }

.color {
  background-color: #7FB800; 
}

.custom-mt{
    margin-top: 100px;
}



/*smartphones <768px*/
@media(max-width:768px){
   .bookings-wrapper {
        max-width: 380px;           
   }
}
/*tablets >=768px*/
@media(min-width:768px){
   .bookings-wrapper {
        max-width: 550px;           
   }
}

/*desktops >=992px*/
@media(min-width:992px){
    .bookings-wrapper {
        max-width: 600px;           
   }
}